/* 초기화 영역 */
html, body, div, header, nav, section, article, aside, footer, figure, figcaption,
legend, ul,ol,li,dl,dt,dd,h1,h2,h3,h4,p{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
fieldset {
    border: 0;
}
.hidden, legend {
    display: none;
}
body,html{
    font-size: 16px;
    /* 기본폰트 사이즈 지정 */
}

a{
    text-decoration: none;
    color: #111;
}

body{
    position: relative;
}

@font-face {
    font-family: 'danjung';
    src: url('../fonts/Cafe24Danjunghae.ttf') format('truetype');
}
@font-face {
    font-family: 'dangdang';
    src: url('../fonts/Cafe24Dangdanghae.ttf') format('truetype');
}
@font-face {
    font-family: 'happy-reg';
    src: url('../fonts/Happiness-Sans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'happy-bold';
    src: url('../fonts/Happiness-Sans-Bold.ttf') format('truetype');
}





/*////////////////////////////////*/

html{
    overflow: hidden;
}
html, body {
    display: block;
    height: 100%;
    width: 100%;
}

/* 상단메뉴 */
header {
    position: relative;

    width: 100%;
    height: 75px;    

    z-index: 40;
}

#logo {
    position: absolute;
    font-family: 'dangdang', sans-serif;

    font-size: 2.5em;

    left: 2%;
    top: 25%;

    text-shadow: 2px 2px 2px #222;

    transition: all 1s;
}

#logo > a{
    color: #fff;
}
header{
    /* 상단메뉴 고정*/
    position: fixed;
    top: 0%;
}

/* 메뉴부분*/
nav {
    width: 100%;
    height: 100%;
    display: inline-block;


    text-align: center;
    align-items: center;

    margin: 0 auto;

    transition: all 0.4s;

    /* 상단메뉴 임시 bg색상 */
}
.main-menu{
    display: inline-block;

    margin-top: 0.3%;
}


.main-menu>li{

    float: left;

    padding: 0 40px;
    margin-top: 20px;
    box-sizing: border-box;

    transition: all 0.2s;
}
.main-menu>li a {
    font-family: 'happy-bold', sans-serif;
    font-size: 1.2em;
    color: #fff;

    position: relative;

    transition: all 0.2s;
    text-shadow: 3px 3px 3px #222;
}


/* 서브메뉴 */
.sub-menu{
    display: none;
    position: inline;

    margin-top: 12%;
    text-align: center;
    /* transition: color 0.5s; */
}
/* 우측 아이콘*/
.icon-menu{
    position: absolute;
    right: 5%;
    top: 32%;

}
.icon-menu>ul>li{
    float: left;
    margin-right: 10px;
    font-size: 1.5em;

    font-family: 'happy-bold', sans-serif;

}
.icon-menu>ul>li>a{
    color: #fff;
    text-shadow: 2px 2px 3px #222;
}





/* 배너영역 */
#banner {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;

    text-shadow: 5px 5px 2px #111;

    /*슬라이드 완성후 추가할 히든*/
    /* overflow: hidden; */
}
.banner_img{
    width: 400%;
    height: 100vh;
    position: relative;

}
.banner{
    width: 25%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;

    /* 임시작성 백그라운드 이미지 사이즈 !!!!! <- 나중 수정*/
    background-size: cover;

    float: left;
}
.banner1{
    background-image: url(../images/보발재.jpg);
}
.banner2{
    background-image: url(../images/만천하_스카이워크.jpg);
}
.banner3{
    background-image: url(../images/단양강_잔도.jpg);
}
.banner4{
    background-image: url(../images/단양_도담삼봉.jpg);
}

/* 폰트 위치 */
.banner > .banner_title {
    font-family: 'danjung', sans-serif;
    
    color: #fff;
    font-size: 4em;
    
    position: relative;
    top: 30%;
    text-align: center;
}
.banner > p {
    color: #fff;
    font-size: 2em;
    
    position: relative;
    top: 30%;
    text-align: center;
}
.sub_t {
    opacity: 0.7;
}
.b_ani{
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
}
.b_vis{
    transform: translateY(0);
    opacity: 1;
}
.b_vis_sub{
    transform: translateY(0);
    opacity: 0.7;
}



/* 배너 버튼 */
#banner_btn{
    position: absolute;
    display: flex;
    top: 60%;
    width: 100%;
    align-content: center;

    justify-content: center;
}

.c_btn{
    position: relative;
    margin:0 10px;
}
.c_btn>i {
    font-size: 1.5em;
    cursor: pointer;

    color: #fff;
}

/* 단양 추천 여행지 영역 시작 */
    #travel_reco{
        position:absolute;
        top: 100vh;

        width: 100%;
        height: 100vh;

        background-color: lightblue;
    }
/* 단양 추천 여행지 영역 종료 */


/* 단양 이달의 행사 시작 */
#fes_month{
    position:absolute;
    top: 200vh;

    width: 100%;
    height: 100vh;

    background-color: lightgreen;
}
/* 단양 이달의 행사 종료 */